---
import "@/styles/global.css";
import "@/styles/post.css";
import Topbar from "@/components/Topbar";
const { frontmatter } = Astro.props;

const slug = Astro.url.pathname.split("/").filter(Boolean).pop();
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="https://fav.farm/%F0%9F%A7%91%E2%80%8D%F0%9F%92%BB"
    />
    <meta name="author" content="Evan Alvarez" />
    <meta name="description" content="Evan Alvarez's Corner of the Internet" />
    <meta name="keywords" content="Programming, Coding, Blog" />
    <title>{frontmatter.title} :: evanalvarez.dev</title>
  </head>
  <body class="bg-everforest-bgdim pb-[2rem]">
    <Topbar />
    <div class="mx-auto max-w-screen-xl px-6">
      <div class="flex items-center justify-start">
        <div class="text-everforest-fg pt-[5rem] text-lg lg:text-xl">
          <h1 class="font-alegreya text-3xl font-bold lg:text-5xl">
            {frontmatter.title}
          </h1>
          <p class="mt-2">{frontmatter.description}</p>
          <p>By: {frontmatter.author}</p>
          <p>{frontmatter.date}</p>
          <slot />
          <footer>
            <p class="mt-10">
              this post was cryptographically signed using my <a
                href="/gpg/pubkey.asc">public key</a
              >. Verify it using the <a
                href=`https://github.com/sheikhevan/site/tree/master/src/pages/writings/${slug}/index.md`
                >raw markdown file</a
              > and
              <a
                href=`https://github.com/sheikhevan/site/tree/master/src/pages/writings/${slug}/_index.md.asc`
                >post signature</a
              >.
            </p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
