---
import "@/styles/global.css";
import "@/styles/post.css";
import Topbar from "@/components/Topbar";
const { frontmatter, signature } = Astro.props;
---

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <title>{frontmatter.title} :: evanalvarez.dev</title>
  </head>
  <body class="bg-everforest-bgdim pb-[2rem]">
    <Topbar />
    <div class="mx-auto max-w-screen-xl px-6">
      <div class="flex items-center justify-start">
        <div class="text-everforest-fg pt-[5rem] text-lg lg:text-xl">
          <h1 class="font-alegreya text-3xl font-bold lg:text-5xl">
            {frontmatter.title}
          </h1>
          <p class="mt-2">{frontmatter.description}</p>
          <p>By: {frontmatter.author}</p>
          <p>{frontmatter.date}</p>
          <slot />
        </div>
      </div>
    </div>
  </body>
</html>
